@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#08001b)) fixed;
}

.center {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2%;
}

section.box1 {
    margin-top: 50px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar {
    width: 100%;
    max-width: 100px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.name {
    text-align: center;
    color: white;
    margin: 13px 0;
    font-size: 67%;
}

/*-----------------START LINK1-------------------*/
.link1 {
    width: 100%;
    text-align: center;
}

.link1 a {
    color: white;
    text-decoration: none;
}

.link1 .link1-a {
    position: relative;
    background-color: #08001b;
    border-radius: 15px;
    border: 2px solid #08001b;
    padding: 10px;
    margin: 18px 0;
    box-shadow: rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    /*transiction effects*/
}

.link1 .link1-a:hover {
    /*mouse effects*/
    background-color: #3d1670;
    transform: scale(1.15, 1.15);
    /*up scale 15%*/
}

.link1 .link1-a :hover ::after {
    /*mouse effects*/
    opacity: 1;
    /*zoom effect*/
}

.link1 .link1-a ::after {
    /*zoom effect*/
    content: "";
    position: absolute;
    background-color: #08001b;
    opacity: 0;
    border-radius: 15px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.3);
    /*shadow effect*/
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

.link1 .link1-a :hover ::after {
    /*zoom effect*/
    opacity: 1;
}

.link1 .link1-a i {
    position: absolute;
    color: #3d1670;
    left: 20px;
    line-height: 1.1;
    font-size: 23px;
}

.link1 .link1-a h3 {
    font-weight: normal;

}

/*-----------------START LINK2-------------------*/
.link2 {
    margin-top: 10px;
}

.link2 a {
    font-size: 28px;
    color: #3d1670;
    margin: 0 5px;
}

.link2 i:hover {
    transform: scale(1.3);
}

.link2 i {
    transition: 0.3s;
}